@model CaterCroweCapstone2019.Models.DAL.DALModels.Rubric

@{
    ViewBag.Title = "RubricViewer";
}

<h2>Rubric Viewer</h2>

<table class="table table-active">
    <thead>
        <tr>
            <th>Type Name</th>
            <th>Weight</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var currentItem in Model.RubricValues)
        {
            <tr>
                <td>@currentItem.Key</td>
                <td>@currentItem.Value</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("RubricEdit", "RubricEdit", new { @courseID = Model.CourseID }, new { @class = "btn btn-primary" })
@Html.ActionLink("Return", "Course", new { @courseID = Model.CourseID }, new { @class = "btn btn-secondary" })