@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Welcome to the errouneus admin site.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About it.</h2>
        <p>
            This is the admin site to edit our version of moodle.
        </p>
    </div>
</div>