<label class="loginLabel" for="username">Username:</label>
<input type="text" id="username"/>
<br />

<label class="loginLabel" for="password">Password:</label>
<input type="password" id="password"/>

<br />
<p id="loginError"></p>

<button type="button" id="loginButton">Login</button>

@Scripts.Render("~/Scripts/scripts/login.js")