
<div style="display:inline-block; float:left;">
    <ul>
        @{ var user = (Session["user"] as CaterCroweCapstone2019.Models.DAL.DALModels.Users.User); }
        <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
        @if (user.AccessLevel == 1)
        {
            @*<li>@Html.ActionLink("Grades", "CourseGrades", "Student", new { @studentID = user.ID }, null)</li>*@
            <li>@Html.ActionLink("Courses", "CoursesHome", "Student", new { @studentID = user.ID }, null)</li>
        }
        else
        {
            <li>@Html.ActionLink("Courses", "CoursesHome", "Teacher", null, new { @teacherID = user.ID })</li>
        }
        <li id="logout" class="btn btn-primary">Logout</li>
    </ul>
</div>