
<div style="display:inline-block; float:left;">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home", null, null)</li>
        <li>@Html.ActionLink("Grades", "Index", "GradeItem", null, null)</li>
        <li>@Html.ActionLink("Courses", "Index", "Course", null, null)</li>
        <li id="logout" class="btn btn-primary">Logout</li>
    </ul>
</div>